<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Add Project</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

    <style>
    body {font-family: Arial;}

    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tablink {
      background-color: #303f9f;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 7px 16px
      font-size: 17px;
      width: 20%;
      border: 1px solid #ccc;
    }
    .tablink.active {
      background-color: darkblue;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 7px 16px
      font-size: 17px;
      width: 20%;
    }
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
      width:100%;
    }
    .tablink:hover {
      background-color: #777;
    }
    .triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #303f9f;
	border-bottom: 25px solid transparent;
}

    </style>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    {% csrf_token %}
</head>

<body>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1>EMS</h1>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <div>
                    <div id="profile_photo">
                    <span>&nbsp;&nbsp;<img src="{% static 'images/profile.jpg' %}" style="height:65px;width:65px;"
                                           alt="My profile"></span>
                        <span id="hide">
                             <h4>&nbsp;&nbsp;&nbsp;{{user.username}}</h4>
                        <h6>&nbsp;&nbsp;<i id="ho" class="fa fa-circle" aria-hidden="true"></i>&nbsp;Logged in</h6>
                        </span>
                    </div>
                </div>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Admin
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/dashboard">Dashboard <i class="fa fa-chevron-right"
                                                          aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Company Structure <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="/showprojects">Projects <i class="fa fa-chevron-right"
                                                            aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Personal Details <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">People <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Projects <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Reports <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-image"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <header>
            <div class="header">
            <span>&nbsp;&nbsp;<img src="{% static 'images/cg_logo.jpg' %}" style="height:60px;width:250px;"
                                   alt="cg image" class="companylogo"></span>

            </div>
        </header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-align-left"></i>
                    <span>Capgemini India Pvt Ltd</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a id="mc" class="nav-link blink" href="/user_logout"><i class="fa fa-user"></i> Logout</a>
                            {% else %}
                            <a class="nav-link blink" href="/user_login"><i class="fa fa-user"></i> Login</a>
                            {% endif %}

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>
                                Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <div class="headings">
                <h4 class="pt-3 pl-4" style="color:white;">Add Project</h4>
            </div>
        </div>

        <div class="container-fluid">
            <div class="jumbotron">
                <div class="card">
                    <div class="card-body ">
                        <div class="nav nav-tabs">
                            <button class="tablinks tablink active" id="defaultOpen"
                                    onclick="openCity(event, 'London')"><h6
                                    class="mt-2 ml-4"><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;Basic
                            </h6></button><div class="triangle-right"></div>
                            <button class="tablinks tablink" onclick="openCity(event, 'Paris')"><h6
                                    class="mt-2 ml-4"><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;Client
                            </h6></button><div class="triangle-right"></div>
                            <button class="tablinks tablink" onclick="openCity(event, 'Tokyo')"><h6
                                    class="mt-2 ml-4"><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;Budget
                            </h6></button><div class="triangle-right"></div>
                        </div>
                        <form method="post" class="post-form " action="/addproject">
                            {% csrf_token %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div id="London" class="tabcontent">
                                            <p>Basic Information</p>
                                            <div class="form-group col-md-6">
                                                <div class="col">
                                                    <label for="project_id">Project Id:</label><br>
                                                    <input type="number" name="project_id" id="project_id"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_id.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="col">
                                                    <label for="project_name">Project Name:</label><br>
                                                    <input type="text" name="project_name" id="project_name"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_name.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                                <div class="col">
                                                    <label for="project_description">Project Description:</label><br>
                                                    <input type="text" name="project_description"
                                                           id="project_description"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_description.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="col">
                                                    <label for="project_company">Project Company:</label><br>
                                                    <input type="text" name="project_company" id="project_company"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_company.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                                <div class="col">
                                                    <label for="project_owner">Project Owner:</label><br>
                                                    <input type="text" name="project_owner" id="project_owner"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_owner.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Paris" class="tabcontent">
                                            <p>Client Information</p>
                                            <div class="form-group col-md-6">
                                                <div class="col col-md-6">
                                                    <label for="project_category">Project Category:</label><br>
                                                    {{form.project_category}}
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_category.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                                <div class="col">
                                                    <label for="project_status">Project Status:</label><br>
                                                    {{form.project_status}}
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_status.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <div class="col">
                                                    <label for="project_start_date">Project Start Date:</label><br>
                                                    <input type="date" name="project_start_date" id="project_start_date"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_start_date.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                                <div class="col">
                                                    <label for="project_end_date">Project End Date:</label><br>
                                                    <input type="date" name="project_end_date" id="project_end_date"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_end_date.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>

                                        </div>
                                        <div id="Tokyo" class="tabcontent">
                                            <p>Budget Information</p>
                                            <div class="form-group col-md-6">
                                                <div class="col">
                                                    <label for="project_budget">Project Budget:</label><br>
                                                    <input type="number" name="project_budget" id="project_budget"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_budget.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                                <div class="col">
                                                    <label for="project_summary">Project Summary:</label><br>
                                                    <input type="text" name="project_summary" id="project_summary"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_summary.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <div class="col">
                                                    <label for="project_record">Project Record:</label><br>
                                                    <input type="text" name="project_record" id="project_record"
                                                           class="form-control">
                                                </div>
                                                <div class="col mt-1">
                                                    {%for error in form.project_record.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <p class="mt-1">{{error}}</p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div>
                                                <button type="submit" class="btn btn-primary mt-3">Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{message}}
                </div>
            </div>
        </div>
    </div>


</div>
</body>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
         $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#hide').toggleClass('active');

            });
        });


</script>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();


</script>
<script>
    setInterval(function() {
        $(".alert").hide();
    }, 5000);
</script>
</html>