<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Employee Edit</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <style>
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
        padding-top: 100px;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
        padding-top: 100px;
    }
    p {
        margin-bottom: 0.5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }

    .project-tab {
        padding: 10%;
        margin-top: -8%;
    }
    .project-tab #tabs{
        background: #007b5e;
        color: #eee;
    }
    .project-tab #tabs h6.section-title{
        color: #eee;
    }
    .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #0062cc;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 5px solid !important;
        font-size: 16px;
        font-weight: bold;
    }
    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #0062cc;
        font-size: 16px;
        font-weight: 600;
    }
    .project-tab .nav-link:hover {
        border: none;
    }
    .project-tab thead{
        background: #f3f3f3;
        color: #333;
    }
    .project-tab a{
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

    .nav-link:hover {
        color: #0062cc;
        border-color: black;
        background-color: transparent;
        transition: all 0.3s;
    }
    .nav-link {
        color:#0062cc;
        background-color:transparent;
        border-color:transparent transparent #f3f3f3;
        border-bottom-color: rgb(243, 243, 243);
        font-size: 16px;
        font-weight: bold;
    }
       select{
            width:172px;
            height: 40px;
            border: 1px solid gainsboro;
            border-radius: 5px;
        }

    .card{
    border-radius: 0rem;
        box-shadow: 1px 1px 30px rgba(48, 63, 159, 0.5);
    }


    .alert-info {
    width: 200px;
    color: #0c5460;
    background-color: white;
    font-weight:bold;
    border-color: #bee5eb;
}
#id_emp_designation{
    width:344px;
}

    </style>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
</head>

<body onload="onloadfunction()">

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li class="active">
                <div>
                    <div id="profile_photo">
                    <span>&nbsp;&nbsp;<img src="{% static 'images/profile.jpg' %}" style="height:65px;width:65px;"
                                           alt="My profile"></span>&nbsp;&nbsp;&nbsp;
                        <span id="hide">
                             <h5><i class="fa fa-user"></i>&nbsp;{{user.username}}</h5>
                        <h6><i id="ho" class="fa fa-circle" aria-hidden="true"></i>&nbsp;Logged in</h6>
                        </span>
                    </div>
                </div>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Admin
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/dashboard">Dashboard <i class="fa fa-chevron-right"
                                                          aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Company Structure <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="/showprojects">Projects <i class="fa fa-chevron-right"
                                                            aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Personal Details <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">People <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Projects <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Reports <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-image"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <header>
            <div class="header">
                <span>&nbsp;&nbsp;<img src="{% static 'images/cg_logo.jpg' %}" style="height:60px;width:250px;"
                                       alt="cg image" class="companylogo"></span>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn tablink">
                    <i class="fas fa-align-left"></i>
                    <span>Capgemini India Pvt Ltd</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a id="mc" class="nav-link blink" href="/user_logout"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
                            {% else %}
                            <a class="nav-link blink" href="/user_login"><i class="fa fa-user"></i> Login</a>
                            {% endif %}

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help"><i class="fa fa-question-circle" aria-hidden="true"></i>
                                Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <div class="headings">
                <h4 class="pt-3 " style="color:white;margin-left: 34px;">Edit Employee</h4>
            </div>
        </div>
        <div>
            <div class="container-fluid">
                <!--              <div class="jumbotron">-->
                <div class="row">
                    <div class="col-md-2">
                        <div class="card" style="width: 270px;height:280px;">
                            <div class="card-header">
                                <h5 class="card-title" style="font-weight:bold;">
                                    {{employee.emp_first_name}}&nbsp;{{employee.emp_last_name}}</h5>
                                <p class="card-title" style="color:black;">
                                    {{employee.emp_designation}}</p>
                            </div>
                            <div class="card-body">
                                <img src="{% static 'images/addprofile.png' %}" style="height:140px;width:225px;;"
                                     alt="profile image" class="profilelogo">
                            </div>
                        </div>
                        <div class="card" style="width:270px">
                            <p class="pt-3">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-building"
                                                                       aria-hidden="true"></i>&nbsp;{{employee.emp_home_number}}
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{{employee.emp_personal_number}}
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;{{employee.emp_email}}
                            </p>
                            <p style="color:#6d7fcc;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;Hire Date</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{employee.emp_hire_date}}
                            </p>
                            <hr>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;{{employee.emp_type}}
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-globe" aria-hidden="true"></i>&nbsp;{{employee.emp_state}}
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{employee.emp_city}}
                            </p>
                            <hr>
                            <p style="color:#6d7fcc;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;Manager</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-male" aria-hidden="true"></i>&nbsp;{{employee.emp_manager_id.emp_first_name}}&nbsp;&nbsp;{{employee.emp_manager_id.emp_last_name}}
                            </p>
                            <hr>

                        </div>
                    </div>
                    <div class=" leftwindow col-md-8">
                        <div class="card" style="margin-right:-100px">
                            <div class="card-body ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                           href="#nav-home" role="tab"
                                           aria-controls="nav-home" aria-selected="true">Project Tab 1</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                           href="#nav-profile" role="tab"
                                           aria-controls="nav-profile" aria-selected="false">Project Tab 2</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                           href="#nav-contact" role="tab"
                                           aria-controls="nav-contact" aria-selected="false">Project Tab 3</a>
                                    </div>
                                </nav>
                                <div class="form-group col-md-6">
                                    <div>
                                        <button type="submit" onclick="myFunction()" class="btn btn-primary mt-3">
                                            <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Edit Form
                                        </button>
                                    </div>
                                </div>
                                <form method="POST" class="post-form"
                                      action="/update/{{employee.emp_id}}">
                                    {% csrf_token %}
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="tab-content" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-home"
                                                     role="tabpanel"
                                                     aria-labelledby="nav-home-tab">
                                                    <p>Basic Information</p>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee Id:</label>

                                                            <input type="text" class="form-control"
                                                                   name="emp_id"
                                                                   value=" {{ employee.emp_id }}"
                                                                   readonly="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee First
                                                                Name:</label>
                                                            <input type="text" class="form-control"
                                                                   name="emp_first_name"
                                                                   value="{{ employee.emp_first_name }}">

                                                            <div class=" mt-1">
                                                                {%for error in form.emp_first_name.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>


                                                        <div class="col">
                                                            <label class=" col-form-label">Employee Last
                                                                Name:</label>

                                                            <input type="text" class="form-control"
                                                                   name="emp_last_name"
                                                                   value="{{ employee.emp_last_name }}">

                                                            <div class=" mt-1">
                                                                {%for error in form.emp_last_name.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee
                                                                Gender:</label>
                                                            <div>
                                                                    <span class=" alert-info" role="alert">
                                                                        <label class=" col-form-label">Current
                                                                            Value:</label> {{ employee.emp_gender }}
                                                                    </span>
                                                                <span>
                                                                        {{ form.emp_gender }}
                                                                    </span>
                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_gender.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>


                                                        <div class="col">
                                                            <label class=" col-form-label">Employee
                                                                Email:</label>
                                                            <div>
                                                                <input type="email" name="emp_email"
                                                                       class="form-control"
                                                                       value="{{ employee.emp_email }}">
                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_email.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee Date Of
                                                                Birth:</label>

                                                            <input type="date" name="emp_dob"
                                                                   class="form-control"
                                                                   value="{{ employee.emp_dob }}">

                                                            <div class=" mt-1">
                                                                {%for error in form.emp_dob.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>


                                                        <div class="col">
                                                            <label class="col-form-label">Employee Marital
                                                                Status:</label>
                                                            <div>
                                                                <span class=" alert-info" role="alert">
                                                                    <label class=" col-form-label">Current Value:</label>
                                                                {{ myobject.employeemeritalstatus }}
                                                                    </span>
                                                                <span>
                                                                  {{ form.emp_marital_status }}
                                                                </span>
                                                            </div>

                                                            <div class=" mt-1">
                                                                {%for error in form.emp_marital_status.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class="col-form-label">Employee Manager:</label>
                                                            <div>
                                                                <span class=" alert-info" role="alert">
                                                                    <label class=" col-form-label">Current Value:</label>
                                                                    {{myobject.managername}}
                                                                    </span>
                                                                <span>
                                                                    {{ form.emp_manager_id }}
                                                                </span>
                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_manager_id.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <label class="col-form-label">Employee Project:</label>
                                                            <div>
                                                                <span class=" alert-info" role="alert">
                                                                    <label class=" col-form-label">Current Value:</label>
                                                                {{ myobject.projectname }}
                                                                    </span>
                                                                <span>
                                                                    {{ form.emp_project_id }}
                                                                </span>
                                                            </div>


                                                            <div class=" mt-1">
                                                                {%for error in form.emp_project_id.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                     aria-labelledby="nav-profile-tab">
                                                    <p>Job Information</p>
                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class="col-form-label">Employee Home
                                                                Number:</label>
                                                            <div>
                                                                <input type="text" name="emp_home_number"
                                                                       class="form-control" id="emp_home_number"
                                                                       value="{{ employee.emp_home_number}}">

                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_home_number.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee Personal
                                                                Number:</label>
                                                            <div>
                                                                <input type="text" name="emp_personal_number"
                                                                       class="form-control"
                                                                       value=" {{ employee.emp_personal_number}}">

                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_personal_number.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class="col-form-label">Employee Hire
                                                                Date:</label>
                                                            <div>
                                                                <input type="date" name="emp_hire_date"
                                                                       class="form-control"
                                                                       value="{{ myobject.employeehiredate }}">
                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_hire_date.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <label class="col-form-label">Employee
                                                                Designation:</label>
                                                            <div>
                                                                <div class=" alert--info" style="font-weight:bold;"
                                                                     role="alert">
                                                                    <label class=" col-form-label">Current
                                                                        Value:</label>
                                                                    {{ myobject.employeedesignation }}
                                                                </div>
                                                                <div>
                                                                    {{ form.emp_designation }}
                                                                </div>
                                                            </div>

                                                            <div class=" mt-1">
                                                                {%for error in form.emp_designation.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class="col-form-label">Employee Type:</label>
                                                            <div>
                                                                <span class=" alert-info" role="alert">
                                                                    <label class=" col-form-label">Current Value:</label>
                                                                {{ myobject.employeetype }}
                                                                    </span>
                                                                <span>
                                                                   {{ form.emp_type }}
                                                                </span>
                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_type.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <label class="col-form-label">Employee
                                                                Address:</label>
                                                            <div>
                                                                    <textarea name="emp_address"
                                                                              class="form-control">{{ employee.emp_address}}</textarea>

                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_address.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                     aria-labelledby="nav-contact-tab">
                                                    <p>Skills Information</p>
                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee City:</label>
                                                            <div>
                                                                <input type="text" name="emp_city"
                                                                       class="form-control"
                                                                       value="{{ employee.emp_city }}">

                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_city.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee
                                                                State:</label>
                                                            <div>
                                                                <input type="text" name="emp_state"
                                                                       class="form-control"
                                                                       value="{{ employee.emp_state }}">

                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_state.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee Postal
                                                                Code:</label>
                                                            <div>
                                                                <input type="number" name="emp_postal_code"
                                                                       class="form-control"
                                                                       value="{{ employee.emp_postal_code }}">

                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_postal_code.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <label class="col-form-label">Employee Country:</label>
                                                            <div>
                                                                <span class=" alert-info" role="alert">
                                                                    <label class=" col-form-label">Current Value:</label>
                                                                {{ myobject.employeecountry }}
                                                                    </span>
                                                                <span>
                                                                   {{ form.emp_country }}
                                                                </span>
                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_country.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row ">
                                                        <div class="col">
                                                            <label class=" col-form-label">Employee Notes:</label>
                                                            <div>
                                                                <textarea name="emp_notes" class="form-control">{{ employee.emp_notes }}</textarea>
                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_notes.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <label class="col-form-label">Employee Work
                                                                Location:</label>
                                                            <div>
                                                                <input type="text" name="emp_work_location"
                                                                       class="form-control"
                                                                       value="{{ employee.emp_work_location }}">
                                                            </div>
                                                            <div class=" mt-1">
                                                                {%for error in form.emp_work_location.errors %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    <p class="mt-1">{{error}}</p>
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group col-md-6">
                                                    <div>
                                                        <button type="submit" class="btn btn-primary mt-3">
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--   </div>-->
            </div>
        </div>
    </div>
</div>
</div>
</body>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
         $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#hide').toggleClass('active');

            });
        });
         $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('.tablink').toggleClass('active');

            });
        });

</script>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();


</script>
<script>
    setInterval(function() {
        $(".alert").hide();
    }, 10000);

</script>
<script>
function onloadfunction(){
document.getElementsByName("emp_first_name")[0].readOnly=true;
document.getElementsByName("emp_last_name")[0].readOnly=true;
document.getElementsByName("emp_email")[0].readOnly=true;
document.getElementsByName("emp_dob")[0].readOnly=true;
document.getElementsByName("emp_home_number")[0].readOnly=true;
document.getElementsByName("emp_personal_number")[0].readOnly=true;
document.getElementsByName("emp_hire_date")[0].readOnly=true;
document.getElementsByName("emp_address")[0].readOnly=true;
document.getElementsByName("emp_city")[0].readOnly=true;
document.getElementsByName("emp_state")[0].readOnly=true;
document.getElementsByName("emp_postal_code")[0].readOnly=true;
document.getElementsByName("emp_notes")[0].readOnly=true;
document.getElementsByName("emp_work_location")[0].readOnly=true;
$("#id_emp_gender").attr("disabled", true);
$("#id_emp_marital_status").attr("disabled", true);
$("#id_emp_designation").attr("disabled", true);
$("#id_emp_type").attr("disabled", true);
$("#id_emp_country").attr("disabled", true);
$("#id_emp_manager_id").attr("disabled", true);
$("#id_emp_project_id").attr("disabled", true);

}
 function myFunction() {
document.getElementsByName("emp_first_name")[0].readOnly=false;
document.getElementsByName("emp_last_name")[0].readOnly=false;
document.getElementsByName("emp_email")[0].readOnly=false;
document.getElementsByName("emp_dob")[0].readOnly=false;
document.getElementsByName("emp_home_number")[0].readOnly=false;
document.getElementsByName("emp_personal_number")[0].readOnly=false;
document.getElementsByName("emp_hire_date")[0].readOnly=false;
document.getElementsByName("emp_address")[0].readOnly=false;
document.getElementsByName("emp_city")[0].readOnly=false;
document.getElementsByName("emp_state")[0].readOnly=false;
document.getElementsByName("emp_postal_code")[0].readOnly=false;
document.getElementsByName("emp_notes")[0].readOnly=false;
document.getElementsByName("emp_work_location")[0].readOnly=false;
$("#id_emp_gender").attr("disabled", false);
$("#id_emp_marital_status").attr("disabled", false);
$("#id_emp_designation").attr("disabled", false);
$("#id_emp_type").attr("disabled", false);
$("#id_emp_country").attr("disabled", false);
$("#id_emp_manager_id").attr("disabled", false);
$("#id_emp_project_id").attr("disabled", false);
}

</script>
<script>
$("#button").on("click",function(){
    isReadOnly=false;
    $("#id_emp_gender").attr("disabled", isReadOnly);
    });

</script>
</html>

