<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Project Edit</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <style>

     .project-tab {
            padding: 10%;
            margin-top: -8%;
        }
        .project-tab #tabs{
            background: #007b5e;
            color: #eee;
        }
        .project-tab #tabs h6.section-title{
            color: #eee;
        }
        .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #0062cc;
            background-color: transparent;
            border-color: transparent transparent #f3f3f3;
            border-bottom: 5px solid !important;
            font-size: 16px;
            font-weight: bold;
        }
        .project-tab .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: #0062cc;
            font-size: 16px;
            font-weight: 600;
        }
        .project-tab .nav-link:hover {
            border: none;
        }
        .project-tab thead{
            background: #f3f3f3;
            color: #333;
        }
        .project-tab a{
            text-decoration: none;
            color: #333;
            font-weight: 600;
        }

        .nav-link:hover {
            color: #0062cc;
            border-color: black;
            background-color: transparent;
            transition: all 0.3s;
        }
        .nav-link {
            color:#0062cc;
            background-color:transparent;
            border-color:transparent transparent #f3f3f3;
            border-bottom-color: rgb(243, 243, 243);
            font-size: 16px;
            font-weight: bold;
        }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
        padding-top: 100px;
    }

    p {
        margin-bottom: 0.5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }
      .form-control {
             width: 360px;
        }
        input{
         width: 360px;
         height: 40px;
         border: 1px solid gainsboro;
         border-radius: 5px;
         }
       select{
         width: 360px;
         height: 40px;
         border: 1px solid gainsboro;
         border-radius: 5px;
        }
        .card{
        border:1px solid #9C9C9C;
        border-radius: 0rem;
        color: #303f9f;
        box-shadow: 1px 1px 30px rgba(48, 63, 159, 0.5);
    }
    </style>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    {% csrf_token %}
</head>

<body>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li class="active">
                <div>
                    <div id="profile_photo">
                    <span>&nbsp;&nbsp;<img src="{% static 'images/profile.jpg' %}" style="height:65px;width:65px;"
                                           alt="My profile"></span>&nbsp;&nbsp;&nbsp;
                        <span id="hide">
                             <h5><i class="fa fa-user"></i>&nbsp;{{user.username}}</h5>
                        <h6><i id="ho" class="fa fa-circle" aria-hidden="true"></i>&nbsp;Logged in</h6>
                        </span>
                    </div>
                </div>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Admin
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/dashboard">Dashboard <i class="fa fa-chevron-right"
                                                          aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Company Structure <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="/showprojects">Projects <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Personal Details <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">People <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Projects <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Reports <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-image"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <header>
            <div class="header">
                <span>&nbsp;&nbsp;<img src="{% static 'images/cg_logo.jpg' %}" style="height:60px;width:250px;"
                                       alt="cg image" class="companylogo"></span>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-align-left"></i>
                    <span>Capgemini India Pvt Ltd</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a id="mc" class="nav-link blink" href="/user_logout"><i class="fas fa-sign-out-alt"></i>&nbsp;
                                Logout</a>
                            {% else %}
                            <a class="nav-link blink" href="/user_login"><i class="fa fa-user"></i> Login</a>
                            {% endif %}

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help"><i class="fa fa-question-circle" aria-hidden="true"></i>
                                Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <div class="headings">
                <h4 class="pt-3 " style="color:white;margin-left: 34px;">Edit Project</h4>
            </div>
        </div>
        <div>
            <div class="container-fluid">
 <!--           <div class="jumbotron">-->
                    <div class="card">
                        <div class="card-body ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                       href="#nav-home" role="tab"
                                       aria-controls="nav-home" aria-selected="true">Project Tab 1</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                       href="#nav-profile" role="tab"
                                       aria-controls="nav-profile" aria-selected="false">Project Tab 2</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                       href="#nav-contact" role="tab"
                                       aria-controls="nav-contact" aria-selected="false">Project Tab 3</a>
                                </div>
                            </nav>
                            <form method="POST" class="post-form" action="/update3/{{project.project_id}}">
                                {% csrf_token %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="tab-content" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                     aria-labelledby="nav-home-tab">
                                                    <p>Basic Information</p>
                                                    <div class="form-group ">
                                                        <label for="project_id">Project Id:</label><br>
                                                        <div>
                                                            <input type="number" name="project_id" id="project_id"
                                                                   value="{{project.project_id}}" readonly="true"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label for="project_name">Project Name:</label><br>
                                                        <div>
                                                            <input type="text" name="project_name" id="project_name"
                                                                   value="{{project.project_name}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_name.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                        <label for="project_description">Project
                                                            Description:</label><br>
                                                        <div>
                                                            <input type="text" name="project_description"
                                                                   id="project_description"
                                                                   value="{{project.project_description}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_description.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label for="project_company">Project Company:</label><br>
                                                        <div>
                                                            <input type="text" name="project_company"
                                                                   id="project_company"
                                                                   value="{{project.project_company}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_company.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                        <label for="project_owner">Project Owner:</label><br>
                                                        <div>
                                                            <input type="text" name="project_owner"
                                                                   id="project_owner" value="{{project.project_owner}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_owner.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                     aria-labelledby="nav-profile-tab">
                                                    <p>Client Information</p>
                                                    <div class="form-group ">
                                                        <label for="project_category">Project Category:</label><br>
                                                        <div>
                                                            {{form.project_category}}
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_category.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label for="project_status">Project Status:</label><br>
                                                        <div>
                                                            {{form.project_status}}
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_status.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>

                                                    <div class="form-group ">
                                                        <label for="project_start_date">Project Start Date:</label><br>
                                                        <div>
                                                            <input type="date" name="project_start_date"
                                                                   id="project_start_date"
                                                                   value="{{project.project_start_date}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_start_date.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label for="project_end_date">Project End Date:</label><br>
                                                        <div>
                                                            <input type="date" name="project_end_date"
                                                                   id="project_end_date"
                                                                   value="{{project.project_end_date}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_end_date.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                     aria-labelledby="nav-contact-tab">
                                                    <p>Budget Information</p>
                                                    <div class="form-group ">
                                                        <label for="project_budget">Project Budget:</label><br>
                                                        <div>
                                                            <input type="number" name="project_budget"
                                                                   id="project_budget"
                                                                   value="{{project.project_budget}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_budget.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label for="project_summary">Project
                                                            Summary:</label><br>
                                                        <div>
                                                            <input type="text" name="project_summary"
                                                                   id="project_summary"
                                                                   value="{{project.project_summary}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_summary.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>

                                                    <div class="form-group ">
                                                        <label for="project_record">Project Record:</label><br>
                                                        <div>
                                                            <input type="text" name="project_record"
                                                                   id="project_record"
                                                                   value="{{project.project_record}}"
                                                                   class="form-control">
                                                        </div>
                                                        <div class=" mt-1">
                                                            {%for error in form.project_record.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                <p class="mt-1">{{error}}</p>
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group ">
                                                    <div>
                                                        <button type="submit" class="btn btn-primary mt-3">Update
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
         $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#hide,.tablink').toggleClass('active');

            });
        });
</script>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
<script>
    setInterval(function() {
        $(".alert").hide();
    }, 10000);

</script>
</html>
