<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Employee List</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
          crossorigin="anonymous">

    <!-- Our Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <style>
#widthexpand{
width: 1188px;
}
#widthexpand.active{
width: 1430px;
}
.navbar{
padding-bottom: 5px;
}
    </style>

</head>

<body>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1>EMS</h1>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <div>
                    <div id="profile_photo">
                    <span>&nbsp;&nbsp;<img src="{% static 'images/profile.jpg' %}" style="height:65px;width:65px;"
                                           alt="My profile"></span>
                        <span id="hide">
                             <h4>&nbsp;&nbsp;&nbsp;{{user.username}}</h4>
                        <h6>&nbsp;&nbsp;<i id="ho" class="fa fa-circle" aria-hidden="true"></i>&nbsp;Logged in</h6>
                        </span>
                    </div>
                </div>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Admin
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="{% url 'index.html' %}">Dashboard <i class="fa fa-chevron-right"
                                                                      aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Company Structure <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'showprojects.html' %}">Projects <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Personal Details <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">People <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Projects <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Reports <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-image"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <header>
            <div class="header">
            <span>&nbsp;&nbsp;<img src="{% static 'images/cg_logo.jpg' %}" style="height:60px;width:250px;"
                                   alt="cg image" class="companylogo"></span>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-align-left"></i>
                    <span>Capgemini India Pvt Ltd</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a id="mc" class="nav-link blink" href="/user_logout"><i class="fa fa-user"></i> Logout</a>
                            {% else %}
                            <a class="nav-link blink" href="/user_login"><i class="fa fa-user"></i> Login</a>
                            {% endif %}

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>
                                Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <div class="headings">
                <h4 class="pt-3 pl-4" style="color:white;">Employees</h4>
            </div>
        </div>
        <div class="jumbotron">
            <div id="widthexpand ">
                <a class="btn btn-primary btn-md buttons-html5 mb-2" href="/add" role="button"><span>Add Employee</span></a>
                <div class="card">
                    <div class="card-body">
                        <table id="example" class="table table-hover table table-striped table-bordered display nowrap"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th> First Name</th>
                                <th> Last Name</th>
                                <th> Gender</th>
                                <th> Email</th>
                                <th> DOB</th>
                                <th> Merital Status</th>
                                <th> Home Number</th>
                                <th> Personal Number</th>
                                <th> Hire Date</th>
                                <th> Designation</th>
                                <th> Type</th>
                                <th> Address</th>
                                <th> City</th>
                                <th> State</th>
                                <th> Postal code</th>
                                <th> Country</th>
                                <th> Notes</th>
                                <th> Work Location</th>
                                <th> Manager</th>
                                <th> Project</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for employee in employees %}
                            <tr>
                                <td>{{ employee.emp_id }}</td>
                                <td>{{ employee.emp_first_name }}</td>
                                <td>{{ employee.emp_last_name }}</td>
                                <td>{{ employee.emp_gender }}</td>
                                <td>{{ employee.emp_email }}</td>
                                <td>{{ employee.emp_dob }}</td>
                                <td>{{ employee.emp_marital_status }}</td>
                                <td>{{ employee.emp_home_number }}</td>
                                <td>{{ employee.emp_personal_number }}</td>
                                <td>{{ employee.emp_hire_date }}</td>
                                <td>{{ employee.emp_designation }}</td>
                                <td>{{ employee.emp_type }}</td>
                                <td>{{ employee.emp_address }}</td>
                                <td>{{ employee.emp_city }}</td>
                                <td>{{ employee.emp_state }}</td>
                                <td>{{ employee.emp_postal_code }}</td>
                                <td>{{ employee.emp_country }}</td>
                                <td>{{ employee.emp_notes }}</td>
                                <td>{{ employee.emp_work_location }}</td>
                                <td>{{ employee.emp_manager_id.emp_first_name }}</td>
                                <td>{{ employee.emp_project_id.project_name }}</td>
                                <td>
                                    <a href="/editempdetails/{{ employee.emp_id }}" class="btn primary"><i
                                            class="fa fa-info"
                                            aria-hidden="true"></i></a>
                                    <a href="/deleteEmp/{{ employee.emp_id }}" Onclick="return ConfirmDelete()"
                                       class="btn primary"><i
                                            class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"
        crossorigin="anonymous"></script>

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
<script defer src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
        crossorigin="anonymous"></script>

<script defer src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar,#widthexpand').toggleClass('active');
            });
        });
         $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#hide').toggleClass('active');

            });
        });


 $('#example').DataTable( {
        scrollY:        true,
        scrollX:        true,
        scrollCollapse: true,
        paging:         true,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "pagingType": "full_numbers"
    } );

</script>

<script>
function ConfirmDelete(){
 var userselection = confirm("Are you sure you want to close this account permanently?");
if (userselection == true)
{
alert("Your Account deleted!");
}
else{
alert("Your account is not deleted!");
}
}
</script>
<script>
       var flag = false;
    setInterval(function() {
        flag = !flag;
        $("#ho").css("color", flag ? "white" : "springgreen");
         $("#mc").css("color", flag ? "springgreen" : "white");
    }, 1000);
</script>
</html>

